.stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px; 
  justify-content: center; 
  max-width: 404px;
  margin: 64px auto;

  @media screen and (max-width: 768px) {
    gap: 12px;
    max-width: 360px;
    margin: 32px auto;
  }
}

.button {
  position: absolute;
  bottom: 24px;
  right: 26px;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  color: var(--text-h);
  background-color: var(--code-bg);
  font-size: 48px;
  text-align: center;
  cursor: pointer;
  box-shadow:
    0 1px 2px rgb(0 0 0 / 0.04),
    0 4px 16px rgb(0 0 0 / 0.06),
    0 12px 32px rgb(0 0 0 / 0.04);

  &:hover {
    box-shadow:
      0 2px 4px rgb(0 0 0 / 0.06),
      0 8px 24px rgb(0 0 0 / 0.10),
      0 24px 48px rgb(0 0 0 / 0.06);
    transition: box-shadow 200ms ease;
  }
}
