.stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 24px;
}

.button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  color: var(--text-h);
  background-color: var(--code-bg);
  font-size: 48px;
  cursor: pointer;
}
